{% extends 'authapp/base.html' %}

{%block content%}
    {% if user.avatar%}
    <img src="{{user.avatar.url}}">
    <form method = "POST" url="{% url 'auth:edit' %}" enctype= 'multipart/form-data'>
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Измениеть">
    </form>
    {% else %}
    <form method = "POST" url="{% url 'auth:edit' %}" enctype= 'multipart/form-data'>
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Измениеть">
    </form>
    {% endif %}
    
{%endblock%}


